body {
  background-color: linen;
}
#cover {
  width:100%;
  height:100vh;
  background-color: linen;
}
/* Nav Bar */
.navbar{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1000;
}
.navbar-light .navbar-brand{
  color:white;
}
.navbar-light .navbar-nav .nav-link{
  color:white;
}
/* Login Wrap */
.login-wrap{
margin-top: 80px;
width: 100%;
}
/* Index Page (Showings) */
.showings-jumbo{
  background-color: #ffd7b0;
  text-align: center;
  height: 150px;
}
.showing-banner{
  padding-top: 20px;
  cursor: pointer;
}
.showing-banner:hover{
  background-color: #dcc5af;
}
.movie-banner{
  padding-top: 20px;
  cursor: pointer;
}
.movie-banner:hover{
  background-color: black;
}
.movie_image{
  width:227px;
  height: 336px;
}
/* Theatre Complex*/
.complex-row{
  text-align: center;
}
.complex-header{
  text-align: center;
}
/* Movie Showing */
.seats-label{
  display: inline;
}
/* Edit profile  */
.edit-icon{
  margin-right: 15px;
}
